div {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    margin: 6em;
    font-size: 2em;
}

body {
    background-image: url("ipad2wallpapers63.jpg");
}